{% extends 'base.html' %}
{% block content %}
    <div class="container mt-4">
        <h2>How to Play</h2>
        <p>Get ready for some epic spoon action! Here are the instructions for the Spoon Assassins game:</p>
        <ol>
            <li>Players are divided into teams, ready to unleash their spoon-wielding skills.</li>
            <li>Each team is given a shiny, magical spoon to wield as their weapon of choice.</li>
            <li>Players must stealthily eliminate opponents by tapping them with the spoon, leaving them in awe of their spoon-fu mastery.</li>
            <li>Eliminated players must gracefully hand over their spoon to the player who skillfully outspooned them.</li>
            <li>The game continues with intense spoon battles, filled with laughter and suspense, until only one player remains victorious, crowned as the ultimate Spoon Assassin!</li>
        </ol>
    </div>

    <div class="container mt-4">
        <h2>How the App Works</h2>
        <p>Are you ready to become a Spoon Assassin? Here's how the app works:</p>
        <ul>
            <li>A game admin creates an account to create and monitor games.</li>
            <li>When the admin creates a game, it is assigned a unique GameID.</li>
            <li>Players use the GameID and a custom login to join the game.</li>
            <li>Once the admin starts the game, each player is assigned a target.</li>
            <li>Players must assassinate their target by any means necessary.</li>
            <li>After eliminating their target, players submit the confirmation on their page.</li>
            <li>Upon confirmation, players are automatically assigned a new target.</li>
            <li>The game continues until there is only one player left standing.</li>
            <li>The admin can view the winner of the game.</li>
        </ul>
    </div>

    
{% endblock %}